.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr ;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 50px;
}
.proceed-link{
    text-decoration: none;
}
.btn-proceed{
    background: #FF9900;
    border-radius: 4px;
    width: 400px;
    margin: 10px auto ;
    font-size: 21px;
    height: 56px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}